<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><!-- 移动端更好的浏览, 缩放比例 -->
    <title>分类修改</title>
    <!--semantic-ui-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}"/>
</head>
	<body>
		<!-- 导航 -->
		<nav th:replace="~{commons/adminCommons::menu(2)}"></nav>
		<!-- 二级导航 -->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a th:href="@{/admin/tags}" class="blue item">列表</a>
					<a th:href="@{/admin/tags/input}" class="active blue item">发布</a>
				</div>
			</div>
		</div>

		<!-- 中间内容 -->
		<div class="m-padding-tb-big m-container">
			<div class="ui container">
				<form th:action="@{/admin/tags/input/update/{id}(id=${type.getId()})}" method="post" class="ui form">

					<input type="hidden" name="_method" value="PUT" /><!-- 将请求转为put请求 -->
					<input type="hidden" name="pageIndex" th:value="${pageIndex}" /><!-- 将当前正在修改分类所在的页码,传递回去,方便修改完成后,直接跳转到之前修改的分类那一页 -->

					<div class="required field">
						<div class="ui left labeled input">
							<label class="ui blue basic label">名称</label>
							<input type="text" name="name" placeholder="标签名称" th:value="${type.getName()}"/>
						</div>
					</div>

					<div class="ui error message"></div>

					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button class="ui blue submit button">提交</button>
					</div>

				</form>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>


		<!-- 底部footer -->
		<footer th:replace="~{commons/commons::footer}"></footer>


		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script th:src="@{/lib/editormd/editormd.min.js}"></script>

		<script type="text/javascript">

			$('.menu.toggle').click(function () {
				$('.m-item').toggleClass('m-mobile-hide');
			});

			$('.ui.dropdown').dropdown();

			$('.ui.form').form({
				fields: {
					name: {
						identifier: 'name',
						rules: [{
							type: 'empty',
							prompt: '请输入分类名称'
						}]
					}
				}
			});
		</script>
	</body>
</html>
